<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cryptids</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/cryptids">All cryptids</a>
            <a href="/cryptids/new">Add a crypt</a>
            <a href="/cryptids/edit">Edit a crypt</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>This is a footer</p>
    </footer>
</body>
</html>