<h2>Add a New Cryptid</h2>
<form action="/cryptids" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="type">Img:</label>
    <input type="text" id="img_url" name="img_url">
    <input type="submit" value="Add crypt">
</form>